# Confirmed working on macOS 14.6.1 / Apple M1 Pro / Python 3.11.7
# Conda env: multiomics_robustness
# CUDA: unavailable
# Apple MPS: available (torch 2.14.0)
# scvi-tools 1.3.3 (not latest 1.5.x; latest requires Python 3.12+)
absl-py==2.5.0
aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
anndata==0.11.4
array-api-compat==1.15.0
attrs==26.1.0
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
docrep==0.3.2
etils==1.14.0
filelock==3.32.5
flax==0.11.2
fonttools==4.64.0
formulaic==1.2.2
frozenlist==1.8.0
fsspec==2026.7.0
grpcio==1.83.1
h5py==3.11.0
humanize==4.16.0
idna==3.19
interface_meta==2.0.1
jax==0.6.2
jaxlib==0.6.2
Jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
legacy-api-wrap==1.5
lightning==2.6.5
lightning-utilities==0.15.3
llvmlite==0.49.0
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.8.4
mdurl==0.1.2
ml_collections==1.1.0
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.2.2
mudata==0.3.10
multidict==6.7.1
multipledispatch==1.0.0
narwhals==2.25.0
natsort==8.4.0
networkx==3.6.1
numba==0.67.0
numpy==1.26.4
numpyro==0.19.0
opt_einsum==3.4.0
optax==0.2.8
orbax-checkpoint==0.12.4
packaging==26.3
pandas==2.2.2
patsy==1.0.3
pillow==12.3.0
prometheus_client==0.26.0
propcache==0.5.2
protobuf==7.36.1
psutil==7.2.2
Pygments==2.21.0
pynndescent==0.6.0
pyparsing==3.3.2
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.5
pytz==2026.3.post1
PyYAML==6.0.2
rich==15.0.0
scanpy==1.10.3
scikit-learn==1.5.2
scikit-misc==0.5.2
igraph==1.0.0
leidenalg==0.12.0
scipy==1.13.1
scverse-misc==0.0.3
scvi-tools==1.3.3
mofapy2==0.7.5
seaborn==0.13.2
session-info2==0.4.1
session_info==1.0.0
simplejson==4.1.2
six==1.17.0
sparse==0.19.2
statsmodels==0.15.0
stdlib-list==0.12.0
sympy==1.14.0
tensorboard==2.21.0
tensorboard-data-server==0.7.2
tensorstore==0.1.85
threadpoolctl==3.6.0
torch==2.14.0
torchmetrics==1.9.0
tqdm==4.66.5
treescope==0.1.10
typing_extensions==4.16.0
tzdata==2026.3
umap-learn==0.5.7
uvloop==0.22.1
Werkzeug==3.1.8
wrapt==2.4.0
xarray==2026.7.0
yarl==1.24.5
zipp==4.1.0
